body{

    margin:0px;
    padding: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-border:#00000038;
    --font-color: #FAFAFA;
    background-color: var(--font-color);

}

li{

    list-style-type: none;

}

header{

    width: 100vw;
    justify-content: center;
    border-bottom: 1px solid var(--color-border);
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    top: 0px;

}

.cpn{

    display: flex;
    flex-direction: row;

}

.container-header{

    width: 80%; 

}

.container-header>div{

    flex-grow: 1;
    align-items: center;

}

.container-log{

    cursor: pointer;

}

.container-search{

    justify-content: center;   

}

.img-profile{

    border-radius: 5em;
    height: auto;

}

.container-nav>ul>li{

    height: 1.5em;
    padding: 0% 7%;
    box-sizing: border-box;
}

.link-styles{

    height: 1.5em;

}

.link-styles>*{

    height: 1.5em;
    padding: 0% 5%;
    box-sizing: border-box;

}

.link-styles>i{

    font-size: 1.5em;
    cursor: pointer;

}

main{

    width: 100vw;
    display: grid;
    grid-template-columns: 60vw 40vw;
    padding-top: .625em;

}

.container-1{

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;    

}


.container-2{
    
    height: 100px;

}

.cmc{

    margin-left: 20%;

}

.container-history{

    border: 1px solid var(--color-border);
    padding: 1% 2%;
    margin-top: 1.5em;

}

.container-history>ul{

    padding: 0px;
    margin: 0px;
    display: flex;
    overflow: hidden;

}

.img-history{

    padding: 0% 1%;

}

.img-history>*{

    display: block;
    cursor: pointer;

}

.img-history>img{

    border-radius: 5em;
    height: 3em;

}

.img-history>span{

    font-size: .7em;

}

.post-container{
    
    height: 100px;

}

.r-aside{

    height: 100px;
    width: 70%;
    display: flex;

}
