body{

    margin:0px;
    padding: 0px;

}

li{

    list-style-type: none;

}

header{

    width: 100vw;
    justify-content: center;
    border-bottom: 1px solid #00000038;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    top: 0px;

}

.cpn{

    display: flex;
    flex-direction: row;

}

.container-header{

    width: 80%; 

}

.container-header>div{

    flex-grow: 1;
    align-items: center;

}

.container-log{

    cursor: pointer;

}

.container-search{

    justify-content: center;   

}

.img-profile{

    border-radius: 5em;
    height: auto;

}

.container-nav>ul>li{

    height: 1.5em;
    padding: 0% 7%;
    box-sizing: border-box;
}

.link-styles{

    height: 1.5em;

}

.link-styles>*{

    height: 1.5em;
    padding: 0% 5%;
    box-sizing: border-box;

}

.link-styles>i{

    font-size: 1.5em;
    cursor: pointer;

}

main{

    width: 100vw;
    display: grid;
    grid-template-columns: 60vw 40vw;
    padding-top: .625em;

}

.container-1{

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;    

}


.container-2{
    
    height: 100px;

}

.cmc{

    margin-left: 20%;
    width: 80%;

}

.container-history{

    background-color: rosybrown;
    padding: 1% 2%;

}

.container-history>ul{

    padding: 0px;
    margin: 0px;
}

.img-history>*{

    display: block;

}

.img-history>img{

    border-radius: 5em;
    height: 3.5em;

}

.post-container{
    
    height: 100px;
    background-color: black;
}

.r-aside{

    background-color: brown;
    height: 100px;
    width: 70%;
    display: flex;

}
