body{

    padding: 0px;
    margin: 0px;
    --main-color: #0056D2;
    --heigth-header: 50px;
    --width-header: 120px;
    --padding-elements: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.main-container{

    display: flex;
    width: 100vw;
    padding: 1em;
    box-sizing: border-box;
    border-bottom: 1px solid #00000029;

}

.first-header{

    display: inherit;
    flex-direction: row;
    width: 50%;

}

.first-header>div{

    display: inherit;

}

.div-logo{

    margin-right: 3%;

}

.div-logo>img{

    height: var(--heigth-header);
    width: var(--width-header);

}

.div-dropdown{

    padding: 6px 0px;
    margin-right: 3%;

}

.button-search{

    background-color: var(--main-color);
    border-style: none;
    padding: 0px 10px;
    border-radius: 0px;
    cursor: pointer;

}

.button-dropdown{

    border-style: none;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    padding: 0px 11px;
    font-size: 11px;
    border-radius: 3px;
    cursor: pointer;

}

.button-dropdown>img{

    height: calc(var(--heigth-header) - 40px);

}

.div-search{

    padding-top: 6px;
    padding-bottom: 6px;
    width: 50%;

}

.textField-search{

    padding: 0px;

}

.textField-search:focus{

    outline: none;

}

.div-search>input{

    width: 89%;

}

.second-header{

    display: inherit;
    width: 50%;
    flex-direction: row-reverse;
        
}

.second-header>div{

    display: inherit;
    align-items: center;
    margin-left: 3%;

}

.fa-sort-up{

    transform: rotate(180deg);

}

.button-dropdown:hover{

    background-color: white;
    color: var(--main-color);
    box-shadow: 1px #00000029;

}