body{
    
    background-color: blue;
    font-family: cursive;

}

#main-container{
    
    background-color: red;

}

#main-container > img{

    width: 24%;
    margin-right: 1%;
    background-color: yellow;

}

.image-description{

    float : right;
    width : 75%;
    background-color: green;

}

.image-description + div{

    clear: both;
    background-color: yellow;
}